<div class="col-xl-5 container">
  <div class="card card-body p-5">
    <h2 class="text-uppercase text-center mb-5">Създайте акаунт</h2>

    <form class="text-center"
          #registerForm="ngForm"
          (ngSubmit)="onRegister()">
      <input type="text"
             placeholder="Потребителско име"
             class="form-control"
             (blur)="checkUsernameAvailability()"
             name="username"
             required
             [(ngModel)]="register.username" />

      <!-- <div *ngIf="form.get('username').errors?.alreadyTaken"
           class="text-danger">Потребителското име е заето.</div> -->



      <input type="text"
             placeholder="Телефонен номер"
             class="form-control"
             name="phone"
             required
             [(ngModel)]="register.phone" />

      <input type="password"
             placeholder="Парола"
             class="form-control"
             name="password"
             required
             [(ngModel)]="register.password" />

      <input type="password"
             placeholder="Потвърждение на парола"
             class="form-control"
             required
             name="confirmPassword"
             [(ngModel)]="register.confirmPassword" />

      <div *ngIf="register.password !== register.confirmPassword"
           class="text-danger">
        Паролите не съвпадат.
      </div>

      <select [(ngModel)]="register.schoolId"
              class="form-control"
              name="schoolId"
              id="schoolId">
        <option *ngFor="let school of schools"
                [ngValue]="school.id">
          {{ school.name }}
        </option>
      </select>

      <button type="submit"
              class="btn btn-primary registration-btn"
              [disabled]="!registerForm.valid">
        Регистриране
      </button>
    </form>
  </div>
</div>