<div class="container">
  <nav>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <button class="btn btn-hover"
                [routerLink]="['/person',person.id]"> Основни данни</button>

        <button [routerLink]="['/person-history', person.id]"
                class="btn btn-hover"
                type="button">
          История на промени
        </button>

        <button [routerLink]="['/person-school', person.id]"
                class="btn btn-hover"
                type="button">
          Преподавателски длъжности
        </button>

      </li>
    </ul>
  </nav>
  <hr>
  <form (ngSubmit)="updatePerson()"
        #updateForm="ngForm">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ЕГН</th>
          <th scope="col">Име</th>
          <th scope="col">Презиме</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Дата на раждане</th>
          <th scope="col">Пол</th>
          <th scope="col">Месторождение</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text"
                   id="uic"
                   [(ngModel)]="person.uic"
                   name="uic"
                   class="form-control"
                   (ngModelChange)="personService.decodeUic(person)"
                   required>
          </td>
          <td><input type="text"
                   id="firstName"
                   [(ngModel)]="person.firstName"
                   name="firstName"
                   class="form-control"
                   required></td>

          <td><input type="text"
                   id="middleName"
                   [(ngModel)]="person.middleName"
                   name="middleName"
                   class="form-control"
                   required></td>

          <td><input type="text"
                   id="lastName"
                   [(ngModel)]="person.lastName"
                   name="lastName"
                   class="form-control"
                   required></td>

          <td><input type="text"
                   id="birthDate"
                   value="{{ person.birthDate | date }}"
                   name="birthDate"
                   class="form-control"
                   disabled="disabled"
                   required></td>

          <td> <select id="gender"
                    [(ngModel)]="person.gender"
                    name="gender"
                    disabled="disabled"
                    class="form-select">
              <option [ngValue]="1">Мъж</option>
              <option [ngValue]="2">Жена</option>
            </select></td>

          <td><select [(ngModel)]="person.birthPlaceId"
                    class="form-control"
                    name="birthPlace"
                    id="birthPlace">
              <option></option>
              <option *ngFor="let settlement of settlements"
                      [ngValue]="settlement.id">
                {{ settlement.name }}
              </option>
            </select>
        </tr>
        <button type="submit"
                class="btn btn-primary"
                [disabled]="!updateForm.valid">Редактирай</button>
      </tbody>
    </table>
  </form>
</div>