<div class="container">

  <nav>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <button class="btn btn-hover"
                [routerLink]="['/person',person.id]"> Основни данни</button>

        <button [routerLink]="['/person-history', person.id]"
                class="btn btn-hover"
                type="button">
          История на промени
        </button>
        <button [routerLink]="['/person-school', person.id]"
                class="btn btn-hover"
                type="button">
          Преподавателски длъжности
        </button>
      </li>
    </ul>
  </nav>

  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Училище</th>
        <th scope="col">Длъжност</th>
        <th scope="col">От дата:</th>
        <th scope="col">До дата:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personSchool of personSchools">

        <td name="schoolId"
            id="schoolId"
            disabled="disabled"
            *ngFor="let school of schools"
            [ngValue]="school.id">{{ school.name }}</td>

        <td>Преподавател по {{positionEnumLocalization[personSchool.position]}}</td>
        <td>{{personSchool.startDate | date: 'medium'}}</td>
        <td>{{personSchool.endDate | date: 'medium'}}</td>

      </tr>
    </tbody>
  </table>
</div>