<div class="container">
  <form #filterForm="ngForm"
        (ngSubmit)="get(personDto)">
    <div class="form-group">
      <label for="firstName">Име: </label>

      <input type="text"
             name="firstName"
             class="form-control"
             id="firstName"
             [(ngModel)]="personDto.firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">Фамилия: </label>

      <input type="text"
             name="lastName"
             class="form-control"
             id="lastName"
             [(ngModel)]="personDto.lastName" />
    </div>

    <div class="form-group">
      <label for="uic">ЕГН: </label>

      <input type="text"
             name="uic"
             class="form-control"
             id="uic"
             [(ngModel)]="personDto.uic" />
    </div>

    <div class="form-group">
      <label for="gender">Пол: </label>

      <select [(ngModel)]="personDto.gender"
              class="form-control"
              name="gender"
              id="gender">
        <option></option>
        <option value="1">Мъж</option>
        <option value="2">Жена</option>
      </select>
    </div>

    <div class="form-group">
      <label for="birthPlace">Месторождение: </label>

      <input type="text"
             name="birthPlace"
             class="form-control"
             id="birthPlace"
             [(ngModel)]="personDto.birthPlace" />
    </div>

    <div class="buttons">
      <button class="btn btn-primary"
              type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
        Търси
      </button>
      <button *ngIf="userService.currentUser?.role === 1"
              class="btn btn-outline-primary"
              routerLink="/add-person">
        <i class="fa-solid fa-plus"></i>
        Добави
      </button>
    </div>
  </form>

  <div class="row">
    <div class="col">
      <ngb-pagination [collectionSize]="this.totalPeopleCount"
                      [pageSize]="personDto.pageSize"
                      [page]="page"
                      (pageChange)="OnPageChange($event)"
                      aria-label="Default pagination" />
      <label for="card"> {{searchResult.items?.length}} обяви на {{page}} страница </label>

    </div>
  </div>

  <table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">ЕГН</th>
        <th scope="col">Име</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Месторождение</th>
        <th scope="col">Дата на раждане</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of searchResult.items">
        <td>{{ person.uic }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.birthPlace.name }}</td>
        <td>{{ person.birthDate | date }}</td>
        <button class="btn btn-primary"
                [routerLink]="['/person', person.id]">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </tr>
    </tbody>
  </table>
</div>