<nav class="navbar navbar-expand-sm navbar-light fixed-top">
  <div class="buttons d-flex justify-content-end nav-bar-right">
    <div class="p-2" *ngIf="userService.currentUser != null">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <button routerLink="/allPeople" class="btn btn-hover" type="button">
            Преподаватели
          </button>
          <button routerLink="/all-schools" class="btn btn-hover" type="button">
            Училища
          </button>
          <button routerLink="/" class="btn btn-hover" type="button">
            Справки
          </button>
          <button routerLink="/all-users" class="btn btn-hover" type="button">
            Потребители
          </button>
        </li>
      </ul>
    </div>
    <div class="ml-auto p-2">
      <button
        *ngIf="userService.currentUser == null"
        routerLink="/login"
        class="btn btn-outline-success"
        type="button"
      >
        Вход
      </button>
      <button
        *ngIf="userService.currentUser == null"
        routerLink="/registration"
        class="btn btn-outline-primary"
        type="button"
      >
        Регистриране
      </button>
      <button
        *ngIf="userService.currentUser != null"
        (click)="loginService.logout()"
        class="btn-logout btn btn-danger btn-center-text"
      >
        Изход
      </button>
    </div>
  </div>
</nav>
