<div class="container">
  <nav>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <button class="btn btn-hover"
                [routerLink]="['/person',person.id]"> Основни данни</button>

        <button [routerLink]="['/person-history', person.id]"
                class="btn btn-hover"
                type="button">
          История на промени
        </button>

        <button [routerLink]="['/person-school', person.id]"
                class="btn btn-hover"
                type="button">
          Преподавателски длъжности
        </button>
      </li>
    </ul>
  </nav>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Дата на модификация</th>
        <th scope="col">Действие</th>
        <th scope="col">Обект</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personHistory of personHistories">
        <td>{{ personHistory.actionDate | date : 'medium'}}</td>
        <td>{{ modificationTypeEnumLocalization[personHistory.modificationType] }}</td>
        <td>{{dataModifiedEnumLocalization[personHistory.dataModified]}}</td>
      </tr>
    </tbody>
  </table>
</div>