<div class="modal-header">
  <h4 class="modal-title">Добави длъжност</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="this.activeModal.close()"
  ></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="firstName"> Име: </label>
    <input
      type="text"
      id="firstName"
      value="{{ firstName }}"
      name="firstName"
      class="form-control"
      required
      disabled
    />
  </div>
  <div class="form-group">
    <label for="lastName"> Фамилия: </label>
    <input
      type="text"
      id="lastName"
      value="{{ lastName }}"
      name="lastName"
      class="form-control"
      required
      disabled
    />
  </div>
  <div class="form-group">
    <label for="school"> Училище: </label>
    <input
      type="text"
      id="school"
      value="{{ schoolName }}"
      name="school"
      class="form-control"
      required
      disabled
    />
  </div>
  <div class="form-group">
    <label for="position"> Позиция: </label>
    <select
      #positionInput="ngModel"
      [(ngModel)]="personSchoolAddDto.position"
      class="form-control"
      name="position"
      id="position"
      required
      [ngClass]="{
        'is-invalid': positionInput.touched && positionInput.invalid
      }"
    >
      <option [ngValue]="1">Математика</option>
      <option [ngValue]="2">География</option>
      <option [ngValue]="3">История</option>
      <option [ngValue]="4">Биология</option>
      <option [ngValue]="5">Химия</option>
      <option [ngValue]="6">Литература</option>
      <option [ngValue]="7">Английски</option>
    </select>
    <div
      class="invalid-feedback"
      *ngIf="positionInput.touched && positionInput.errors"
    >
      <div *ngIf="firstNameInput.errors.required">Полето е задължителено</div>
    </div>
  </div>
  <div class="form-group">
    <label for="startDate"> От дата: </label>
    <input
      #startDateInput="ngModel"
      type="date"
      id="startDate"
      [(ngModel)]="personSchoolAddDto.startDate"
      name="startDate"
      class="form-control"
      required
      [ngClass]="{
        'is-invalid': startDateInput.touched && !isDateValid(startDateInput)
      }"
    />
    <div
      class="invalid-feedback"
      *ngIf="startDateInput.touched && !isDateValid(startDateInput)"
    >
      <div *ngIf="startDateInput?.errors?.required">Полето е задължителено</div>
      <div *ngIf="!isDateValid(startDateInput)">
        Началната трябва да бъде след текущата дата
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="endDate"> До дата: </label>
    <input
      #endDateInput="ngModel"
      type="date"
      id="endDate"
      [(ngModel)]="personSchoolAddDto.endDate"
      name="endDate"
      class="form-control"
      required
      [ngClass]="{
        'is-invalid': endDateInput.touched && !isDateValid(endDateInput)
      }"
    />
    <div
      class="invalid-feedback"
      *ngIf="endDateInput.touched && !isDateValid(endDateInput)"
    >
      <div *ngIf="endDateInput?.errors?.required">Полето е задължителено</div>
      <div *ngIf="!isDateValid(endDateInput)">
        Крайната трябва да бъде след текущата дата
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="add()">
      Запази
    </button>
  </div>
</div>
