.container {
  margin-top: 6rem;
  width: 30%;
  padding: 2rem;
  border-radius: 1%;
}

.login-btn {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.card{
  box-shadow: 5px 5px 10px 2px rgba(172, 172, 172, 0.8);
}

.form-control {
  margin-bottom: 1rem;
}
